body{
    background-color: rgb(248, 245, 240);
}
.heading{
    /* background-color: #fff5e6; */
    font-family: fantasy;
}

.line{
    border-bottom: 2px solid rgb(99, 27, 27);
    display: block;
}
.card{
    border: 1px solid rgb(173, 126, 126);
    border-radius: 10%;
}

.card img{
   
    border-top-left-radius: 12%;
    border-top-right-radius: 12%;
    height: 250px;
}
.enqStyle{
    
    background-color: #f1dcc8;
    border: 1px solid rgb(173, 126, 126);
    border-radius: 1%;
    width: 95%; 
    
}
 
.map{
    border: 2px solid rgb(109, 108, 108);
    border-radius: 1%;
}
